---
import BootstrapIcon from '../../icons/BootstrapIcon.astro'
---

<li>
    <span class="flex gap-x-2 rounded-full text-xs bg-gray-800 text-white py-1 px-2">
        <BootstrapIcon class="size-4" />
    Bootstrap </span> 
</li>