---
import CSSIcon from '../../icons/CSSIcon.astro'
---

<li>
    <span class="flex gap-x-2 rounded-full text-xs bg-gray-800 text-white py-1 px-2">
        <CSSIcon class="size-4" />
    CSS </span> 
</li>