---
import ExpressIcon from '../../icons/ExpressIcon.astro'
---

<li>
    <span class="flex gap-x-2 rounded-full text-xs bg-gray-800 text-white py-1 px-2">
        <ExpressIcon class="size-4" />
    ExpressJS </span> 
</li>