---
import NextIcon from "../../icons/NextIcon.astro";
---

<li>
    <span class="flex gap-x-2 rounded-full text-xs bg-gray-800 text-white py-1 px-2">
        <NextIcon class="size-4" />
    NextJS </span> 
</li>