---
import SpringbootIcon from "../icons/SpringbootIcon.astro"
---

<li>
    <span class="flex gap-x-2 rounded-full text-xs bg-gray-800 text-white py-1 px-2">
        <SpringbootIcon class="size-4" />
    Spring Boot </span>
</li>
