---
import TypeScriptIcon from "../icons/TypeScriptIcon.astro";
---

<li>
    <span class="flex gap-x-2 rounded-full text-xs bg-gray-800 text-white py-1 px-2">
        <TypeScriptIcon class="size-4" />
    TypeScript </span>
</li>