---
import VueIcon from "../icons/VueIcon.astro"
---

<li>
    <span class="flex gap-x-2 rounded-full text-xs bg-gray-800 text-white py-1 px-2">
        <VueIcon class="size-4" />
    Vue </span>
</li>
