---
import Layout404 from '../layouts/Layout404.astro'
---

<Layout404 title="Pagina 404 Portfolio Guillermo Diaz" 
    description="Pagina de 404 de Portfolio de Guillermo Diaz">
    <main class="grid min-h-full place-items-center px-4 py-24 sm:py-32 lg:px-8">
        <div class="text-center p-6 border-solid border-2 border-indigo-700 rounded-lg shadow-lg shadow-indigo-700/50">
            <h1 class="text-4xl lg:text-5xl font-bold text-indigo-700">404</h1>
            <h2 class="mt-4 text-3xl lg:text-4xl font-bold tracking-tight text-white sm:text-5xl">Esta no es en la pagina correcta, ¿parece?</h2>
            <p class="mt-6 ext-sm lg:text-lg text-white/50">La pagina no existe o ¿querias ver esto?</p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="https://www.gediazq.com" class="rounded-md bg-gray-800 px-3.5 py-2.5 text-sm font-semibold mx-auto text-white shadow-sm hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-700">Ir al inicio</a>
          </div>
        </div>
    </main>
</Layout404 />