---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/parts/Hero.astro';
import Experiencia from '../components/parts/Experiencia.astro';
import Proyectos from '../components/parts/Proyectos.astro';
import Educacion from '../components/parts/Educacion.astro';
import Skill from '../components/parts/Skill.astro';
import Acerca from '../components/Acerca.astro';
---

<Layout title="Bienvenido al portafolio de Guillermo Diaz"
    description="Contrata a Guillermo para ayudarte con la implementacion en la nube de tu aplicacion o como Devops">
    <main class="px-4">
        <Hero />
        <Proyectos />
        <Experiencia />
        <Skill />
        <Educacion />
        <Acerca />
    </main>
</Layout>
