---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from '../icons/LinkedIn.astro';
import GitHubIcon from '../icons/GitIcon.astro';
---

<Layout title="Bievenido al portafolio de Guillermo Diaz">
    <main>
        <section class="w-full mx-auto lg:w-[740px] py-44">
            <h1 class="text-5xl font-bold flex justify-center flex-row gap-x-4 pb-2">
                Hola, soy Guillermo Diaz 
                <div class="flex justify-center items-center">
                    <Badge>Disponible para trabajar</Badge>
                </div>
            </h1>
            <h2 class="text-lg flex justify-center text-wrap pb-4">
                Ingeniero en sistemas con 5 años de experiencia en soporte, redes y sistemas y con conocimeintos en desarollo 
                front end y back end con tecnologias como React, Node.js, Express, MongoDB, PostGrSQL AWS, Docker, entre otras 
                tecnologias, actualmente estoy en la busqueda de mas conocimientos para hacerme un camino como Ingeniero Cloud
            </h2>
            <ul class="flex flex-row justify-center gap-4 mt-4">
                <li class="border-solid border border-white rounded-t-full rounded-r-full rounded-b-full rounded-l-full bg-gray-800">
                    <a class="inline-flex flex-row items-center px-4 py-1 gap-1" href="https://www.linkedin.com/in/guillermo-diaz-quezada-b394a9115" target="_blank">
                    <LinkedInIcon />LinkedIn
                    </a>
                </li>
                <li class="px-4 border-solid border border-white rounded-t-full rounded-r-full rounded-b-full rounded-l-full bg-gray-800"> 
                    <a class="inline-flex flex-row items-center px-4 py-1 gap-1" href="https://github.com/gdiazq" target="_blank">
                    <GitHubIcon />GitHub
                    </a>
                </li>
                <li class="px-4 border-solid border border-white rounded-t-full rounded-r-full rounded-b-full rounded-l-full bg-gray-800">
                    <a class="inline-flex flex-row items-center px-4 py-1" href="https://www.credly.com/users/guillermo-esteban-diaz-quezada/" target="_blank">
                    Credly
                    </a>
                </li>
            </ul>
        </section>
    </main>
</Layout>

<style>

</style>
