---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from '../icons/LinkedIn.astro';
import GitHubIcon from '../icons/GitIcon.astro';
import CredlyIcon from '../icons/CredlyIcon.astro';
import DownloadIcon from '../icons/DownloadIcon.astro';
import EmailIcon from '../icons/EmailIcon.astro';
---

<Layout title="Bievenido al portafolio de Guillermo Diaz">
    <main>
        <section class="w-full mx-auto lg:w-[840px] py-44">
            <h1 class="text-5xl font-bold flex justify-center flex-row gap-x-4 pb-2">
                Hola, soy Guillermo Diaz 
                <div class="flex justify-center items-center">
                    <Badge>Disponible para trabajar</Badge>
                </div>
            </h1>
            <p class="text-lg flex justify-center text-wrap pb-3">
                Ingeniero en sistemas con 5 años de experiencia en soporte, redes y sistemas y con conocimeintos en desarollo 
                front end y back end, actualmente estoy en la busqueda de mas conocimientos para hacerme un camino como Ingeniero Cloud
            </p>
            <ul class="flex flex-row justify-center gap-4 mt-3">
                <li class="px-4 border-solid border border-white rounded-t-full rounded-r-full rounded-b-full rounded-l-full bg-gray-800">
                    <a class="inline-flex flex-row items-center px-4 py-1 gap-1" href="mailto:guillermoe.diazq@gmail.com" target="_blank" rel="noopener noreferrer">
                    <EmailIcon />Contáctame
                    </a>
                </li>
                <li class="border-solid border border-white rounded-t-full rounded-r-full rounded-b-full rounded-l-full bg-gray-800">
                    <a class="inline-flex flex-row items-center px-4 py-1 gap-1" href="https://www.linkedin.com/in/guillermo-diaz-quezada-b394a9115" target="_blank">
                    <LinkedInIcon />LinkedIn
                    </a>
                </li>
                <li class="px-4 border-solid border border-white rounded-t-full rounded-r-full rounded-b-full rounded-l-full bg-gray-800"> 
                    <a class="inline-flex flex-row items-center px-4 py-1 gap-1" href="https://github.com/gdiazq" target="_blank">
                    <GitHubIcon />GitHub
                    </a>
                </li>
                <li class="px-4 border-solid border border-white rounded-t-full rounded-r-full rounded-b-full rounded-l-full bg-gray-800">
                    <a class="inline-flex flex-row items-center px-4 py-1 gap-1" href="https://www.credly.com/users/guillermo-esteban-diaz-quezada/" target="_blank">
                    <CredlyIcon />Credly
                    </a>
                </li>
                <li class="px-4 border-solid border border-white rounded-t-full rounded-r-full rounded-b-full rounded-l-full bg-gray-800">
                    <a class="inline-flex flex-row items-center px-4 py-1 gap-1" href="https://drive.google.com/file/d/1QXI_YlGscAkAv-YIZr3F5SbmChnQ8zBb/view?usp=sharing" target="_blank">
                    <DownloadIcon />Descargar CV
                    </a>
                </li>
            </ul>
        </section>
        <section class="w-full mx-auto lg:w-[840px] py-24">
            <h2 class="text-4xl font-bold pb-3">Mi experiencia</h2>
            <div class="grid grid-cols-1 gap-4">
                <div class="bg-gray-800 rounded-lg p-4">
                    <h3 class="text-2xl font-bold pb-2">Asistente Tecnico</h3>
                    <p class="text-xl font bold pb-2">Centro de Soporte Empresas Entel Contact Center</p>
                    <p class="text-lg"><strong>Febrero 2020 - Julio 2023</strong>: Trabaje en Entel Contact Center en la sección de configurar recursos para nuevas instalaciones de productos como Fibra Óptica y EntelOne para cliente particulares y empresas.</p>
                </div>
                <div class="bg-gray-800 rounded-lg p-4">
                    <h3 class="text-2xl font-bold pb-2">Application Development New Associate</h3>
                    <p class="text-xl font bold pb-2">Accenture</p>
                    <p class="text-lg"><strong>Diciembre de 2017 - Enero 2019</strong>: Trabaje en Accenture Chile sección operaciones dando soporte remoto a empresas del sector retail del grupo de Falabella en las áreas de resolucion de problemas de usuarios,  sistemas y redes</p>
                </div>
                <div class="bg-gray-800 rounded-lg p-4">
                    <h3 class="text-2xl font-bold pb-2">Encargado de TI</h3>
                    <p class="text-xl font bold pb-2">Agencia Aduana Francisco Vargas</p>
                    <p class="text-lg"><strong>Junio de 2017 - Diciembre de 2017</strong>: Trabaje en Agencia Aduana Francisco Vargas como Encargado TI, administrando, gestionando y manteneniendo la infraestructura tecnológica de la organización </p>
                </div>
                <div class="bg-gray-800 rounded-lg p-4">
                    <h3 class="text-2xl font-bold pb-2">Encargado de sistemas</h3>
                    <p class="text-xl font bold pb-2">Proingesa</p>
                    <p class="text-lg"><strong>Abril de 2016 - Abril de 2017</strong>: Trabaje en Proingesa dando soporte y administrando sus sistemas computacionales en sistemas, redes.</p>
                </div>
                <div class="bg-gray-800 rounded-lg p-4">
                    <h3 class="text-2xl font-bold pb-2">Soporte de Redes</h3>
                    <p class="text-xl font bold pb-2">Soporte de Redes en Universidad Técnica Federico Santa María</p>
                    <p class="text-lg"><strong>Septiembre 2013 - Julio 2015</strong>: Trabaje para la Universidad Técnica Federico Santa María como técnico en redes para usuarios y sistemas, ademas de instalar, configurar y administradar equipos de redes. </p>
                </div>
            </div>
        </section>
        <section class="w-full mx-auto lg:w-[840px] py-24">
            <h2 class="text-4xl font-bold pb-3">Mis Proyectos</h2>
            <div id="carousel-example" class="relative w-full" data-carousel="slide">
                <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                    <div id="carousel-item-1" class="duration-700 ease-in-out">
                        <img src="/skatepark.webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="Foto de proyecto Skate Park">
                    </div>
                    <div id="carousel-item-2" class="duration-700 ease-in-out">
                        <img src="/roomates.webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="Foto de proyecto Roomates">
                    </div>
                    <div id="carousel-item-3" class="duration-700 ease-in-out">
                        <img src="/landingpagewithbulma.webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="Foto de proyecto LandingPage con Bulma CSS">
                    </div>
                    <div id="carousel-item-4" class="duration-700 ease-in-out">
                        <img src="/bancosolar.webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="Foto de proyecto Banco Solar">
                    </div>
                    <div id="carousel-item-5" class="duration-700 ease-in-out">
                        <img src="/viajes.webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="Foto de proyecto Viajes Chile">
                    </div>
                </div>
                <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
                    <button type="button" id="carousel-indicator-1" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                    <button type="button" id="carousel-indicator-2" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
                    <button type="button" id="carousel-indicator-3" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
                    <button type="button" id="carousel-indicator-4" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
                    <button type="button" id="carousel-indicator-5" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
                </div>
                <button type="button" id="data-carousel-prev" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none">
                    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                        </svg>
                        <span class="sr-only">Previous</span>
                    </span>
                </button>
                <button type="button" id="data-carousel-next" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none">
                    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                        </svg>
                        <span class="sr-only">Next</span>
                    </span>
                </button>
            </div>
        </section>
    </main>
</Layout>