---

---

<section id="yo" class="w-full mx-auto lg:w-[840px] py-24">
    <h2 class="text-3xl lg:text-4xl font-bold pb-3">Acerca de mi</h2>
    <div class="grid grid-cols-1 gap-4">
        <p class="text-sm lg:text-lg flex justify-center text-wrap pb-3">
            Hola! Soy Guillermo Diaz actualmente estoy intentando realiar una carrera como Cloud Developer con experiencia en sistemas, 
            soporte y redes, mi enfoque es idealmente trabajar con tecnologias cloud como AWS, Azure, Google Cloud o Oracle Cloud.
        </p>
        <p class="text-sm lg:text-lg flex justify-center text-wrap pb-3">
            Cuando trabajo siempre intento ser lo mas eficiente posible y siempre busco la mejor solucion a los problemas que se me presentan, 
            ademas me gusta el trabajo en equipo y dar lo mejor de mi para que el equipo logre sus objetivos.
        </p>
        <p class="text-sm lg:text-lg flex justify-center text-wrap pb-3">
            Me gusta aprender cosas nuevas y siempre estoy en la busqueda de nuevos conocimientos en areas de desarrollo, cloud y seguridad, 
            tambien me gusta leer lirros, escuchar musica, jugar algunos juegos y viajar cuando puedo.
        </p>
    </div>
</section>