---

---

<section id="yo" data-section="yo" class="section undefined scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"> 
    <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-white">
        Acerca de mi
    </h2> 
    <article class="flex flex-col items-center justify-center gap-8 text-white md:flex-row"> 
        <div class="text-sm lg:text-lg flex flex-col gap-y-3 justify-center text-pretty order-2 md:order-1"> 
            <p> Hola! Soy Guillermo Diaz actualmente estoy intentando realiar una carrera como Cloud Developer con experiencia en sistemas, 
                soporte y redes, mi enfoque es idealmente trabajar con tecnologias cloud como AWS, Azure, Google Cloud o Oracle Cloud.
            </p> 
            <p> Cuando trabajo siempre intento ser lo mas eficiente posible y siempre busco la mejor solucion a los problemas que se me presentan, 
                ademas me gusta el trabajo en equipo y dar lo mejor de mi para que el equipo logre sus objetivos.
            </p> 
            <p> Me gusta aprender cosas nuevas y siempre estoy en la busqueda de nuevos conocimientos en areas de desarrollo, cloud y seguridad, 
                tambien me gusta leer libros, escuchar musica, jugar algunos juegos y viajar cuando puedo.
            </p> 
        </div> 
        <img src="/cover.webp" class="size-52 order-1 object-cover w-64 h-full p-1 md:order-2 lg:p-2 lg:w-64 rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20" alt="Foto Guillermo Diaz"> 
    </article>  
</section>