---
const currentYear = new Date().getFullYear();
---

<footer class="w-full opacity-80 mt-16 lg:w-[840px] mx-auto mb-5 flex justify-center">
    <div class="max-w-screen-xl md:flex md:items-center md:justify-between py-4">
        <p class="text-sm lg:text-base text-white">© {currentYear} Guillermo Diaz. Todos los derechos reservados</p>
    </div>
</footer>