---
const currentYear = new Date().getFullYear();
---

<footer class="opacity-80 m-4 mt-16 lg:w-[840px] mx-auto lg:max-w-4xl md:max-w-2xl mb-5 flex justify-center">
    <div class="rounded-lg w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between py-4">
        <p class="text-white">© {currentYear} Guillermo Diaz. Todos los derechos reservados</p>
    </div>
</footer>