---
import Navbar from '../components/Navbar.astro'
---

<header class="fixed z-10 flex justify-center items-center w-full mx-auto p-4 gap-x-0 md:gap-x-8">
    <a href='#inicio'><img src="/cover.webp" alt="Foto Guillermo" class="w-10 h-10 rounded-full hidden lg:block"></a>
    <Navbar />
</header>