---

---

<nav class="flex flex-row justify-around">
    <ul class="flex flex-column gap-x-3 lg:gap-x-10 border-solid border border-white rounded-t-full rounded-r-full rounded-b-full rounded-l-full bg-gray-800">
        <li class="pl-2 text-sm lg:text-base hover:scale-105 transition"><a href='#experiencia'>Experiencia</a></li>
        <li class="text-sm lg:text-base hover:scale-105 transition"><a href='#proyectos'>Proyectos</a></li>
        <li class="text-sm lg:text-base hover:scale-105 transition"><a href='educacion'>Educacion</a></li>
        <li class="text-sm lg:text-base hover:scale-105 transition"><a href='skill'>Skills</a></li>
        <li class="text-sm lg:text-base pr-2 hover:scale-105 transition"><a href='about'>Quién soy</a></li>
    </ul>
</nav>