---

---

<nav class="flex flex-row justify-around gap-x-10">
    <ul class="flex flex-column gap-x-10 border-solid border border-white rounded-t-full rounded-r-full rounded-b-full rounded-l-full bg-gray-800">
        <li class="pl-2 hover:scale-105 transition"><a href='/'>Inicio</a></li>
        <li class="hover:scale-105 transition"><a href='experience'>Mi experiencia</a></li>
        <li class="hover:scale-105 transition"><a href='projects'>Proyectos</a></li>
        <li class="hover:scale-105 transition"><a href='certificaciones'>Certificaciones</a></li>
        <li class="hover:scale-105 transition"><a href='about'>Acerca de mi</a></li>
        <li class="pr-2 hover:scale-105 transition"><a href='contact'>Contacto</a></li>
    </ul>
</nav>