---
import HtmlIcon from '../icons/HtmlIcon.astro'
import CSSIcon from '../icons/CSSIcon.astro'
import BootstrapIcon from '../icons/BootstrapIcon.astro'
import BulmaIcon from '../icons/BulmaIcon.astro'
import TailwindIcon from '../icons/TailwindIcon.astro'
import JavascriptIcon from '../icons/JavascriptIcon.astro'
import ExpressIcon from '../icons/ExpressIcon.astro'
import PostgreIcon from '../icons/PostgreIcon.astro'
import AwsIcon from '../icons/AwsIcon.astro'
import AzureIcon from '../icons/AzureIcon.astro'
import AstroIcon from '../icons/AstroIcon.astro'
---

<section id="habilidades" class="w-full mx-auto lg:w-[840px] py-24">
    <h2 class="text-3xl lg:text-4xl font-bold pb-3">Mis habilidades</h2>
    <div class="grid grid-cols-1 gap-4">
        <ul class="flex flex-row justify-center flex-wrap gap-4 mt-3">
            <li class="hover:scale-105 transition">
                <span class="inline-flex flex-row items-center px-4 py-1 gap-1">
                    <HtmlIcon class="size-16" />
                HTML</span>
            </li>
            <li class="hover:scale-105 transition">
                <span class="inline-flex flex-row items-center px-4 py-1 gap-1">
                    <CSSIcon class="size-16" />CSS
                </span>
            </li>
            <li class="hover:scale-105 transition"> 
                <span class="inline-flex flex-row items-center px-4 py-1 gap-1">
                    <BootstrapIcon class="size-16" />Bootstrap
                </span>
            </li>
            <li class="hover:scale-105 transition">
                <span class="inline-flex flex-row items-center px-4 py-1 gap-1">
                    <BulmaIcon class="size-16" />Bulma CSS
                </span>
            </li>
            <li class="hover:scale-105 transition">
                <span class="inline-flex flex-row items-center px-4 py-1 gap-1">
                    <TailwindIcon class="size-16"/>TailwindCSS
                </span>
            </li>
            <li class="hover:scale-105 transition">
                <span class="inline-flex flex-row items-center px-4 py-1 gap-1">
                    <JavascriptIcon class="size-16" />Javascript
                </span>
            </li>
            <li class="hover:scale-105 transition">
                <span class="inline-flex flex-row items-center px-4 py-1 gap-1">
                    <ExpressIcon class="size-16" />Express
                </span>
            </li>
            <li class="hover:scale-105 transition">
                <span class="inline-flex flex-row items-center px-4 py-1 gap-1">
                    <PostgreIcon class="size-16" />PostgreSQL
                </span>
            </li>
            <li class="hover:scale-105 transition">
                <span class="inline-flex flex-row items-center px-4 py-1 gap-1">
                    <AwsIcon class="size-16" />AWS
                </span>
            </li>
            <li class="hover:scale-105 transition">
                <span class="inline-flex flex-row items-center px-4 py-1 gap-1">
                    <AzureIcon class="size-16"/>Azure
                </span>
            </li>
            <li class="hover:scale-105 transition">
                <span class="inline-flex flex-row items-center px-4 py-1 gap-1">
                    <AstroIcon class="size-16"/>Astro
                </span>
            </li>
        </ul>
    </div>
</section>
