---

---

<section id="experiencia" class="w-full mx-auto lg:w-[840px] py-20">
    <h2 class="text-3xl lg:text-4xl font-bold pb-3" data-i18n="experience.title">Mi experiencia</h2>
    <div class="grid grid-cols-1 gap-4">
        <div class="bg-gray-800 rounded-lg p-4">
            <h3 class="text-xl lg:text-2xl font-bold pb-2" data-i18n="experience.3it.role">Full Stack Developer</h3>
            <p class="text-base lg:text-xl pb-2" data-i18n="experience.3it.company">3IT Servicios Informáticos Ltda.</p>
            <p class="text-sm lg:text-lg text-pretty">
                <strong data-i18n="experience.3it.date">Octubre 2024 - Febrero 2026</strong><span data-i18n="experience.3it.text">: Me desempeñé en desarrollo full stack, colaborando con el equipo en la implementación de funcionalidades, mejora continua del código y resolución de tareas con autonomía progresiva.</span>
            </p>
        </div>
        <div class="bg-gray-800 rounded-lg p-4">
            <h3 class="text-xl lg:text-2xl font-bold pb-2" data-i18n="experience.entel.role">Asistente Tecnico</h3>
            <p class="text-base lg:text-xl pb-2" data-i18n="experience.entel.company">Centro de Soporte Empresas Entel Contact Center</p>
            <p class="text-sm lg:text-lg text-pretty">
                <strong data-i18n="experience.entel.date">Febrero 2020 - Enero 2024</strong><span data-i18n="experience.entel.text">: Trabaje en Entel Contact Center en la sección de configurar recursos para nuevas instalaciones de productos como Fibra Óptica y EntelOne para cliente particulares y empresas.</span>
            </p>
        </div>
        <div class="bg-gray-800 rounded-lg p-4">
            <h3 class="text-xl lg:text-2xl font-bold pb-2" data-i18n="experience.accenture.role">Application Development New Associate</h3>
            <p class="text-base lg:text-xl pb-2" data-i18n="experience.accenture.company">Accenture</p>
            <p class="text-sm lg:text-lg text-pretty">
                <strong data-i18n="experience.accenture.date">Diciembre de 2017 - Enero 2019</strong><span data-i18n="experience.accenture.text">: Trabaje en Accenture Chile sección operaciones dando soporte remoto a empresas del sector retail del grupo de Falabella en las áreas de resolucion de problemas de usuarios,  sistemas y redes</span>
            </p>
        </div>
        <div class="bg-gray-800 rounded-lg p-4">
            <h3 class="text-xl lg:text-2xl font-bold pb-2" data-i18n="experience.aduana.role">Encargado de TI</h3>
            <p class="text-base lg:text-xl pb-2" data-i18n="experience.aduana.company">Agencia Aduana Francisco Vargas</p>
            <p class="text-sm lg:text-lg text-pretty">
                <strong data-i18n="experience.aduana.date">Junio de 2017 - Diciembre de 2017</strong><span data-i18n="experience.aduana.text">: Trabaje en Agencia Aduana Francisco Vargas como Encargado TI, administrando, gestionando y manteneniendo la infraestructura tecnológica de la organización </span>
            </p>
        </div>
        <div class="bg-gray-800 rounded-lg p-4">
            <h3 class="text-xl lg:text-2xl font-bold pb-2" data-i18n="experience.proingesa.role">Encargado de sistemas</h3>
            <p class="text-base lg:text-xl pb-2" data-i18n="experience.proingesa.company">Proingesa</p>
            <p class="text-sm lg:text-lg text-pretty">
                <strong data-i18n="experience.proingesa.date">Abril de 2016 - Abril de 2017</strong><span data-i18n="experience.proingesa.text">: Trabaje en Proingesa dando soporte y administrando sus sistemas computacionales en sistemas, redes.</span>
            </p>
        </div>
        <div class="bg-gray-800 rounded-lg p-4">
            <h3 class="text-xl lg:text-2xl font-bold pb-2" data-i18n="experience.utfsm.role">Soporte de Redes</h3>
            <p class="text-base lg:text-xl pb-2" data-i18n="experience.utfsm.company">Soporte de Redes en Universidad Técnica Federico Santa María</p>
            <p class="text-sm lg:text-lg text-pretty">
                <strong data-i18n="experience.utfsm.date">Septiembre 2013 - Julio 2015</strong><span data-i18n="experience.utfsm.text">: Trabaje para la Universidad Técnica Federico Santa María como técnico en redes para usuarios y sistemas, ademas de instalar, configurar y administradar equipos de redes. </span>
            </p>
        </div>
    </div>
</section>
