---
import VueStick from "../sticker/VueStick.astro";
import JavaStick from "../sticker/JavaStick.astro";
import SpringbootStick from "../sticker/SpringbootStick.astro";
import JavascriptStick from "../sticker/JavascriptStick.astro";
import TypeScriptStick from "../sticker/TypeScriptStick.astro";
import ExpressStick from '../sticker/ExpressStick.astro';
import PostgreStick from '../sticker/PostgreStick.astro';
import HTMLStick from '../sticker/HTMLStick.astro';
import CSSStick from '../sticker/CSSStick.astro';
import BulmaStick from '../sticker/BulmaStick.astro';
import BootstrapStick from '../sticker/BootstrapStick.astro';
import NextjsStick from "../sticker/NextjsStick.astro";
import PrismaStick from "../sticker/PrismaStick.astro";
import Auth0Stick from "../sticker/Auth0Stick.astro";
import CatGithub from "../icons/CatGithub.astro";
import PreviewIcon from "../icons/PreviewIcon.astro";
import ReactStick from "../sticker/ReactStick.astro";
import TailwindStick from "../sticker/TailwindStick.astro";
---

<section class="w-full mx-auto lg:w-[840px] py-20">
        <h2 id="proyectos" class="text-3xl lg:text-4xl font-bold pb-3" data-i18n="projects.title">Proyectos</h2>
        <div class="grid grid-cols-1 gap-4 mb-20">
            <img class="w-full h-96 object-cover object-center rounded-lg" src="/crm.png" alt="Velocity Suite CRM">
            <div class="bg-gray-700 rounded-lg p-4">
                <ul class="flex flex-row mb-2 gap-2 flex-wrap">
                    <VueStick />
                    <TypeScriptStick />
                    <JavaStick />
                    <SpringbootStick />
                    <PostgreStick />
                    <TailwindStick />
                </ul>
                <p class="text-xl lg:text-2xl font-bold pb-2" data-i18n="projects.crm.title">Velocity Suite - CRM/OKR</p>
                <p class="text-base lg:text-xl pb-2" data-i18n="projects.crm.framework">Framework: Vue + TypeScript + Springboot</p>
                <p class="text-sm lg:text-lg text-pretty" data-i18n="projects.crm.desc">CRM/OKR web para gestionar usuarios, clientes y procesos comerciales, alineando la operacion diaria con objetivos y resultados medibles mediante paneles, metricas y flujos de seguimiento.</p>
                <div class="flex items-end justify-start mt-4 gap-x-2">
                    <a href="https://github.com/gdiazq/crm-frontend" role="link" class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 rounded-full text-sm text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 hover:bg-gray-800 hover:border-gray-900 group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
                        <CatGithub class="size-6" />
                        <span>Frontend</span>
                    </a>
                    <a href="https://github.com/gdiazq/crm-backend" role="link" class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 rounded-full text-sm text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 hover:bg-gray-800 hover:border-gray-900 group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
                        <CatGithub class="size-6" />
                        <span>Backend</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 gap-4 mb-20">
            <img class="w-full h-96 object-cover object-center rounded-lg" src="/oauth.png" alt="oauth">
            <div class="bg-gray-700 rounded-lg p-4">
                <ul class="flex flex-row mb-2 gap-2 flex-wrap">
                    <NextjsStick />
                    <TypeScriptStick />
                    <ReactStick />
                    <PostgreStick />
                    <PrismaStick />
                    <Auth0Stick />
                    <TailwindStick />
                </ul>
                <p class="text-xl lg:text-2xl font-bold pb-2" data-i18n="projects.oauth.title">Sistema de Autenticacion con Oauth y Auth.JS</p>
                <p class="text-base lg:text-xl pb-2" data-i18n="projects.oauth.framework">Framework: NextJS</p>
                <p class="text-sm lg:text-lg text-pretty" data-i18n="projects.oauth.desc">Sistema de autenticacion OAuth con Auth.JS desarrollado en NextJS con bibliotecas front de shadcn/UI y NextUI, tambien tiene una autenticacion mediante credenciales con base de datos con Prisma como adaptador y BD PostgreSQL</p>
                <div class="flex items-end justify-start mt-4 gap-x-2">
                    <a href="https://github.com/gdiazq/oath-auth" role="link" class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 rounded-full text-sm text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 hover:bg-gray-800 hover:border-gray-900 group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
                        <CatGithub class="size-6" />
                        <span data-i18n="projects.code">Code</span>
                    </a>
                    <a href="https://oath-auth.vercel.app" role="link" class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 rounded-full text-sm text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 hover:bg-gray-800 hover:border-gray-900 group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
                        <PreviewIcon class="size-6" />
                        <span data-i18n="projects.preview">Preview</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 gap-4 mb-20">
            <img class="w-full h-96 object-cover object-center rounded-lg" src="/weather.png" alt="Weather Apps">
            <div class="bg-gray-700 rounded-lg p-4">
                <ul class="flex flex-row mb-2 gap-2 flex-wrap">
                    <NextjsStick />
                    <TypeScriptStick />
                    <ReactStick />
                    <TailwindStick />
                </ul>
                <p class="text-xl lg:text-2xl font-bold pb-2" data-i18n="projects.weather.title">Weather App</p>
                <p class="text-base lg:text-xl pb-2" data-i18n="projects.weather.framework">Framework: NextJS</p>
                <p class="text-sm lg:text-lg text-pretty" data-i18n="projects.weather.desc">Weather App realizada con NextJS y API de weatherapi y de openweathermap</p>
                <div class="flex items-end justify-start mt-4 gap-x-2"> 
                    <a href="https://github.com/gdiazq/weather-own-site" role="link" class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 rounded-full text-sm text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 hover:bg-gray-800 hover:border-gray-900 group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"> 
                        <CatGithub class="size-6" />
                    <span data-i18n="projects.code">Code</span>
                    </a> 
                    <a href="https://weather-own-site.vercel.app/" role="link" class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 rounded-full text-sm text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 hover:bg-gray-800 hover:border-gray-900 group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"> 
                        <PreviewIcon class="size-6" />
                    <span data-i18n="projects.preview">Preview</span>
                    </a> 
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 gap-4 mb-20">
            <img class="w-full h-96 object-cover object-center rounded-lg" src="/pokedex-app.png" alt="Weather Apps">
            <div class="bg-gray-700 rounded-lg p-4">
                <ul class="flex flex-row mb-2 gap-2 flex-wrap">
                    <NextjsStick />
                    <TypeScriptStick />
                    <ReactStick />
                    <TailwindStick />
                </ul>
                <p class="text-xl lg:text-2xl font-bold pb-2" data-i18n="projects.pokedex.title">Pokedex App</p>
                <p class="text-base lg:text-xl pb-2" data-i18n="projects.pokedex.framework">Framework: NextJS</p>
                <p class="text-sm lg:text-lg text-pretty" data-i18n="projects.pokedex.desc">Pokedex App realizada con framework NextJS, lenguaje Typescript y React con la API de PokeApi a futuro se realizara con otras integraciones</p>
                <div class="flex items-end justify-start mt-4 gap-x-2"> 
                    <a href="https://github.com/gdiazq/pokedex-wiki" role="link" class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 rounded-full text-sm text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 hover:bg-gray-800 hover:border-gray-900 group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"> 
                        <CatGithub class="size-6" />
                    <span data-i18n="projects.code">Code</span>
                    </a> 
                    <a href="https://pokedex-wiki-nine.vercel.app/" role="link" class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 rounded-full text-sm text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 hover:bg-gray-800 hover:border-gray-900 group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"> 
                        <PreviewIcon class="size-6" />
                    <span data-i18n="projects.preview">Preview</span>
                    </a> 
                </div>
            </div>
        </div>
        <!-- Carousel Body -->
        <div id="carousel-example" class="relative rounded-lg block md:flex items-center bg-gray-700 shadow-xl lg:w-[840px] mx-auto" data-carousel="slide">
            <div id="carousel-item-1" class="relative w-full md:w-2/5 h-full overflow-hidden rounded-t-lg md:rounded-t-none md:rounded-l-lg" style="min-height: 19rem;">
                <img class="absolute inset-0 w-full h-full object-cover object-center" src="/skatepark.webp" alt="Proyecto SkatePark">
            </div>
            <div id="carousel-item-2" class="relative w-full md:w-2/5 h-full overflow-hidden rounded-t-lg md:rounded-t-none md:rounded-l-lg hidden" style="min-height: 19rem;">
                <img class="absolute inset-0 w-full h-full object-cover object-center" src="/roomates.webp" alt="Proyecto Roomates">
            </div>
            <div id="carousel-item-3" class="relative w-full md:w-2/5 h-full overflow-hidden rounded-t-lg md:rounded-t-none md:rounded-l-lg hidden" style="min-height: 19rem;">
                <img class="absolute inset-0 w-full h-full object-cover object-center" src="/landingpagewithbulma.webp" alt="Landing Page con Bulma CSS">
            </div>
            <div id="carousel-item-4" class="relative w-full md:w-2/5 h-full overflow-hidden rounded-t-lg md:rounded-t-none md:rounded-l-lg hidden" style="min-height: 19rem;">
                <img class="absolute inset-0 w-full h-full object-cover object-center" src="/bancosolar.webp" alt="Proyecto Banco Solar">
            </div>
            <div id="carousel-item-5" class="relative w-full md:w-2/5 h-full overflow-hidden rounded-t-lg md:rounded-t-none md:rounded-l-lg hidden" style="min-height: 19rem;">
                <img class="absolute inset-0 w-full h-full object-cover object-center" src="/viajes.webp" alt="Proyecto Viajes Chile">
            </div>
            <div id="text-carousel-1" class="w-full md:w-3/5 h-full flex items-center bg-gray-700 rounded-lg">
                <div class="p-12 md:pr-12 md:pl-16 md:py-10">
                    <ul class="flex flex-row mb-2 gap-2 flex-wrap">
                        <JavascriptStick />
                        <ExpressStick />
                        <PostgreStick />
                    </ul>
                    <p class="text-white text-pretty" data-i18n="projects.skatepark.desc"><span class="text-white"><strong>SkatePark:</strong></span> Proyecto Full Stack con Javascript con arquitectura cliente-servidor, ocupando base de datos SQL y login,
                        registro de usuarios con CRUD.</p>
                    <div class="flex items-end justify-start mt-4 gap-x-2"> 
                        <a href="https://github.com/gdiazq/Project-SkatePark" role="link" class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-sm rounded-full text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 hover:bg-gray-800 hover:border-gray-900 group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"> 
                            <CatGithub class="size-6" />
                        <span data-i18n="projects.code">Code</span>
                        </a>
                    </div>
                </div>
                <svg class="hidden md:block absolute inset-y-0 h-full w-24 fill-current text-gray-500 -ml-12" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <polygon points="50,0 100,0 50,100 0,100" />
                </svg>
            </div>
            <div id="text-carousel-2" class="w-full md:w-3/5 h-full items-center bg-gray-700 rounded-lg hidden">
                <div class="p-12 md:pr-24 md:pl-16 md:py-12">
                    <ul class="flex flex-row mb-2 gap-2 flex-wrap">
                        <JavascriptStick />
                        <ExpressStick />
                    </ul>
                    <p class="text-white text-pretty" data-i18n="projects.roomates.desc"><span class="text-white"><strong>Roomates:</strong></span> Proyecto Full Stack con javascript, arquitectura monolitica ocupando CRUD con JSON.</p>
                    <div class="flex items-end justify-start mt-4 gap-x-2"> 
                        <a href="https://github.com/gdiazq/desafioRoomate" role="link" class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 rounded-full text-sm text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 hover:bg-gray-800 hover:border-gray-900 group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"> 
                            <CatGithub class="size-6" />
                        <span data-i18n="projects.code">Code</span>
                        </a> 
                    </div>
                </div>
                <svg class="hidden md:block absolute inset-y-0 h-full w-24 fill-current text-gray-500 -ml-12" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <polygon points="50,0 100,0 50,100 0,100" />
                </svg>
            </div>
            <div id="text-carousel-3" class="w-full md:w-3/5 h-full items-center bg-gray-700 rounded-lg hidden">
                <div class="p-12 md:pr-24 md:pl-16 md:py-12">
                    <ul class="flex flex-row mb-2 gap-2 flex-wrap">
                        <HTMLStick />
                        <CSSStick />
                        <BulmaStick />
                    </ul>
                    <p class="text-white text-pretty" data-i18n="projects.landing.desc"><span class="text-white"><strong>Landing Page con BulmaCSS:</strong></span> Landing Page con HTML, CSS y Bulma CSS</p>
                    <div class="flex items-end justify-start mt-4 gap-x-2"> 
                        <a href="https://github.com/gdiazq/landingpagegdiazcertificacionwebdesign" role="link" class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 rounded-full text-sm text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 hover:bg-gray-800 hover:border-gray-900 group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"> 
                            <CatGithub class="size-6" />
                        <span data-i18n="projects.code">Code</span>
                        </a> 
                        <a href="https://gdiazq.github.io/landingpagegdiazcertificacionwebdesign/" role="link" class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 rounded-full text-sm text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 hover:bg-gray-800 hover:border-gray-900 group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"> 
                            <PreviewIcon class="size-6" />
                        <span data-i18n="projects.preview">Preview</span>
                        </a> 
                    </div>
                </div>
                <svg class="hidden md:block absolute inset-y-0 h-full w-24 fill-current text-gray-500 -ml-12" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <polygon points="50,0 100,0 50,100 0,100" />
                </svg>
            </div>
            <div id="text-carousel-4" class="w-full md:w-3/5 h-full items-center bg-gray-700 rounded-lg hidden">
                <div class="p-12 md:pr-24 md:pl-16 md:py-12">
                    <ul class="flex flex-row mb-2 gap-2 flex-wrap">
                        <JavascriptStick />
                        <ExpressStick />
                        <PostgreStick />
                    </ul>
                    <p class="text-white text-pretty" data-i18n="projects.banco.desc"><span class="text-white"><strong>Banco Solar:</strong></span> Proyecto Full Stack con javascript, arquitectura monolitica realizando transferencia con CRUD.</p>
                    <div class="flex items-end justify-start mt-4 gap-x-2"> 
                        <a href="https://github.com/gdiazq/desafio-BancoSolar" role="link" class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 rounded-full text-sm text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 hover:bg-gray-800 hover:border-gray-900 group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"> 
                            <CatGithub class="size-6" />
                        <span data-i18n="projects.code">Code</span>
                        </a>
                    </div>
                </div>
                <svg class="hidden md:block absolute inset-y-0 h-full w-24 fill-current text-gray-500 -ml-12" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <polygon points="50,0 100,0 50,100 0,100" />
                </svg>
            </div>
            <div id="text-carousel-5" class="w-full md:w-3/5 h-full items-center bg-gray-700 rounded-lg hidden">
                <div class="p-12 md:pr-24 md:pl-16 md:py-12">
                    <ul class="flex flex-row mb-2 gap-2 flex-wrap">
                        <HTMLStick />
                        <CSSStick />
                        <BootstrapStick />
                    </ul>
                    <p class="text-white text-pretty" data-i18n="projects.viajes.desc"><span class="text-white"><strong>Viajes:</strong></span> Landing Page con HTML, CSS y Bootstrap CSS.</p>
                    <div class="flex items-end justify-start mt-4 gap-x-2">  
                        <a href="https://github.com/gdiazq/Viajes_Chile" role="link" class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 rounded-full text-sm text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 hover:bg-gray-800 hover:border-gray-900 group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"> 
                            <CatGithub class="size-6" />
                        <span data-i18n="projects.code">Code</span>
                        </a> 
                        <a href="https://gdiazq.github.io/Viajes_Chile/" role="link" class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 rounded-full text-sm text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 hover:bg-gray-800 hover:border-gray-900 group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"> 
                            <PreviewIcon class="size-6" />
                        <span data-i18n="projects.preview">Preview</span>
                        </a> 
                    </div>
                </div>
                <svg class="hidden md:block absolute inset-y-0 h-full w-24 fill-current text-gray-500 -ml-12" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <polygon points="50,0 100,0 50,100 0,100" />
                </svg>
            </div>
            <button type="button" id="data-carousel-prev" class="absolute top-40 start-0 z-30 flex items-center justify-center px-4 cursor-pointer group focus:outline-none">
                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-800 group-hover:bg-gray-800/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
                    <svg class="w-4 h-4 text-white rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                    </svg>
                    <span class="sr-only">Previous</span>
                </span>
            </button>
            <button type="button" id="data-carousel-next" class="absolute top-40 end-0 z-30 flex items-center justify-center px-4 cursor-pointer group focus:outline-none">
                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-800 group-hover:bg-gray-800/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
                    <svg class="w-4 h-4 text-white rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                    </svg>
                    <span class="sr-only">Next</span>
                </span>
            </button>
        </div>
</section>


<script>
    const initCarousel = (carouselElement: HTMLElement) => {
        const state = {
            items: Array.from(carouselElement.querySelectorAll('[id^="carousel-item-"]')) as HTMLElement[],
            data: Array.from(carouselElement.querySelectorAll('[id^="text-carousel-"]')) as HTMLElement[],
            currentIndex: 0,
            prevButton: carouselElement.querySelector('#data-carousel-prev') as HTMLElement,
            nextButton: carouselElement.querySelector('#data-carousel-next') as HTMLElement
        };

        const updateCarousel = () => {
            state.items.forEach((item, index) => {
                item.style.display = index === state.currentIndex ? 'block' : 'none';
            });
        };

        const updateDataCarousel = () => {
            state.data.forEach((item, index) => {
                item.style.display = index === state.currentIndex ? 'block' : 'none';
            });
        };

        const showPreviousSlide = () => {
            state.currentIndex = (state.currentIndex > 0) ? state.currentIndex - 1 : state.items.length - 1;
            updateCarousel();
            updateDataCarousel();
        };

        const showNextSlide = () => {
            state.currentIndex = (state.currentIndex < state.items.length - 1) ? state.currentIndex + 1 : 0;
            updateCarousel();
            updateDataCarousel();
        };

        state.prevButton.addEventListener('click', showPreviousSlide);
        state.nextButton.addEventListener('click', showNextSlide);

        updateCarousel();
        updateDataCarousel();
    };

    if (typeof document !== 'undefined') {
        document.addEventListener('DOMContentLoaded', () => {
            const carouselElement = document.getElementById('carousel-example');
            if (carouselElement) {
                initCarousel(carouselElement);
            }
        });
    };
</script>
