---
import HtmlIcon from '../icons/HtmlIcon.astro'
import CSSIcon from '../icons/CSSIcon.astro'
import BootstrapIcon from '../icons/BootstrapIcon.astro'
import BulmaIcon from '../icons/BulmaIcon.astro'
import TailwindIcon from '../icons/TailwindIcon.astro'
import JavascriptIcon from '../icons/JavascriptIcon.astro'
import TypeScriptIcon from '../icons/TypeScriptIcon.astro'
import ExpressIcon from '../icons/ExpressIcon.astro'
import PostgreIcon from '../icons/PostgreIcon.astro'
import AwsIcon from '../icons/AwsIcon.astro'
import AzureIcon from '../icons/AzureIcon.astro'
import AstroIcon from '../icons/AstroIcon.astro'
import GithubIcon from '../icons/GithubIcon.astro'
import GitIcon from '../icons/GitIcon.astro'
import NextIcon from '../icons/NextIcon.astro'
import Auth0Icon from '../icons/Auth0Icon.astro'
import ReactIcon from '../icons/ReactIcon.astro'
---

<section id="habilidades" class="w-full mx-auto lg:w-[840px] py-20">
    <h2 class="text-3xl lg:text-4xl font-bold pb-3">Mi stack tecnologico</h2>
    <div class="grid grid-cols-1 gap-4">
        <ul class="flex flex-row justify-center flex-wrap gap-4 mt-3">
            <li class="flex flex-row items-center hover:scale-105 transition">
                <span class="inline-flex items-center px-4 py-1 gap-x-2">
                    <HtmlIcon class="size-16" />
                HTML</span>
            </li>
            <li class="flex flex-row items-center hover:scale-105 transition">
                <span class="inline-flex items-center px-4 py-1 gap-x-2">
                    <CSSIcon class="size-16" />CSS
                </span>
            </li>
            <li class="flex flex-row items-center hover:scale-105 transition"> 
                <span class="inline-flex items-center px-4 py-1 gap-x-2">
                    <ReactIcon class="size-16" />React
                </span>
            <li class="flex flex-row items-center hover:scale-105 transition"> 
                <span class="inline-flex items-center px-4 py-1 gap-x-2">
                    <BootstrapIcon class="size-16" />Bootstrap
                </span>
            </li>
            <li class="flex flex-row items-center hover:scale-105 transition">
                <span class="inline-flex items-center px-4 py-1 gap-x-2">
                    <BulmaIcon class="size-16" />Bulma CSS
                </span>
            </li>
            <li class="flex flex-row items-center hover:scale-105 transition">
                <span class="inline-flex items-center px-4 py-1 gap-x-2">
                    <TailwindIcon class="size-16"/>TailwindCSS
                </span>
            </li>
            <li class="flex flex-row items-center hover:scale-105 transition">
                <span class="inline-flex items-center px-4 py-1 gap-x-2">
                    <JavascriptIcon class="size-16" />Javascript
                </span>
            </li>
            <li class="flex flex-row items-center hover:scale-105 transition">
                <span class="inline-flex items-center px-4 py-1 gap-x-2">
                    <ExpressIcon class="size-16" />Express
                </span>
            </li>
            <li class="flex flex-row items-center hover:scale-105 transition">
                <span class="inline-flex items-center px-4 py-1 gap-x-2">
                    <PostgreIcon class="size-16" />PostgreSQL
                </span>
            </li>
            <li class="flex flex-row items-center hover:scale-105 transition">
                <span class="inline-flex items-center px-4 py-1 gap-x-2">
                    <AwsIcon class="size-16" />AWS
                </span>
            </li>
            <li class="flex flex-row items-center hover:scale-105 transition">
                <span class="inline-flex items-center px-4 py-1 gap-x-2">
                    <AzureIcon class="size-16"/>Azure
                </span>
            </li>
            <li class="flex flex-row items-center hover:scale-105 transition">
                <span class="inline-flex items-center px-4 py-1 gap-x-2">
                    <NextIcon class="size-16"/>NextJS
                </span>
            </li>
            <li class="flex flex-row items-center hover:scale-105 transition">
                <span class="inline-flex items-center px-4 py-1 gap-x-2">
                    <Auth0Icon class="size-16"/>Auth0
                </span>
            </li>
            <li class="flex flex-row items-center hover:scale-105 transition">
                <span class="inline-flex items-center px-4 py-1 gap-x-2">
                    <AstroIcon class="size-16"/>Astro
                </span>
            </li>
            <li class="flex flex-row items-center hover:scale-105 transition">
                <span class="inline-flex items-center px-4 py-1 gap-x-2">
                    <GithubIcon class="size-16"/>Github
                </span>
            </li>
            <li class="flex flex-row items-center hover:scale-105 transition">
                <span class="inline-flex items-center px-4 py-1 gap-x-2">
                    <GitIcon class="size-16"/>Git
                </span>
            </li>
        </ul>
    </div>
</section>
