---
import '@fontsource-variable/onest'
import I18nScript from '../utils/I18nScript.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es" data-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
	</head>
	<body class="relative">
		<div class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full items-center px-5 py-24" style="background: var(--page-bg);"></div>
		<slot />
		<I18nScript />
	</body>
</html>


<style is:global>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html {
		font-family: "Onest Variable", system-ui, sans-serif;
	}

	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		color: var(--text-color);
	}

	:root {
		--page-bg: radial-gradient(125% 125% at 50% 10%, #000 40%, #43e 100%);
		--text-color: #fff;
	}

	[data-theme="light"] {
		--page-bg: radial-gradient(125% 125% at 50% 10%, #f2f2f2 40%, #cfd3ff 100%);
		--text-color: #111;
	}

	[data-theme="light"] .text-white {
		color: #111;
	}

	[data-theme="light"] .text-white\/50 {
		color: rgba(17, 17, 17, 0.5);
	}

	[data-theme="light"] .bg-gray-800 {
		background-color: #e5e7eb;
	}
</style>
